@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: 'Open Sans', sans-serif;
	background: #f9f9f9;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", sans-serif;
	padding:.3em 0;
}

code {
	background: #caecfc;
	color: #2e7292;
}

.muted {
	color:#000;
}

/*The title of the page overall*/
.title {
	padding-left: 50px;
	background: url(http://www.stretchr.com/img/stretchr-logo.png) no-repeat left center;
	background-size: 50px 37px;
}

.title a:hover {
	text-decoration:none;
}

/*Link inside the title */
.title a {

}

.muted {

}

/*----- Sidebar -----*/
#categories {
}

.nav li {

}

.nav li a:hover {
	background: rgba(0, 0, 0, .25);
}


#navigation ul.files {
	padding:0;
	margin:0;
	border: 1px solid #e8e8e8;
	background:#fff;
}

#navigation li {
	margin:0;
	padding:0;
	display:block;
}

#navigation .folder {
	background:#404040;
	color:#f9f9f9;
}

#navigation a {
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}

.nav li a:hover {

}

/*----- Page ----*/

.page-template {

}

.page-template .page-container {

}

.page-container .page {

}

.page table {

}

.page table td, .page table th {

}

.page table tr:nth-child(even) td {

}


.page-template .page-info {

}

/*----- Footer -----*/
.footer {

}

.footer a {

}
