@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: 'Open Sans', sans-serif;
	padding-bottom:0;
	margin-bottom:0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", sans-serif;
	padding:.3em 0;
}

code {
	background: #caecfc;
	color: #2e7292;
}

.muted {
	color:#000;
}

/*The title of the page overall*/
h1.title {
	line-height:200px;
	color: #f1f1f1;
	font-size: 60px;
	font-weight: bolder;
	padding:0;
	margin:0;
	margin-bottom:20px;
}

.title a:hover {
	text-decoration:none;
}

/*Link inside the title */
.title a {
	color: #f1f1f1;
	margin:0;
	padding:0;
}

.muted {

}

/*----- Sidebar -----*/
#sidebar {
  padding:0;
}

.nav li {

}

.nav li a:hover {
	background: rgba(0, 0, 0, .25);
}

#navigation {
  padding:0;
  margin:0;
  border: 1px solid #e8e8e8;
  background: #fff;
}

#navigation ul.files {
	padding:0;
	margin:0;
}

#navigation li {
	margin:0;
	padding:0;
	display:block;
  background: #fff;
}

#navigation .folder {
	background:#404040;
	color:#f9f9f9;
}

#navigation .folder>a {
  color: #f9f9f9;
}

#navigation .folder .glyphicon {
  display:none;
}

#navigation a {
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}

.nav li a:hover {

}

/*----- Page ----*/

.page-template {

}

.page-template .page-container {

}

.page-container .page {

}

.page table {

}

.page table td, .page table th {

}

.page table tr:nth-child(even) td {

}


.page-template .page-info {

}

/*----- Footer -----*/
.footer {
	padding:20px 0;
}

.footer a {

}

/*  CUSTOM */
#header {
	background: #202020;
	color:#fff;
	overflow:hidden;
	font-size:16px;
	height:80px;
}

#header .nav {
	padding:20px 10px;
}

#header .nav a {
	color:#f1f1f1;
}

#header .nav a:hover {
	background:#404040;
}

#header .nav .active a {
	background:#404040;
}

#header .logo {
  height:30px;
  margin:25px 0;
}

.docs-header {
	background:#101010 url(http://www.stretchr.com/img/header-dark.jpg) no-repeat center bottom;
	height:200px;
	position:absolute;
	top:80px;
	right:0;
	width:100%;
}

#search input {
	margin:85px 0;
	background: #404040;
	color:#e8e8e8;
	border-color: #101010;
}

#footer {
	margin: 0;
	padding:50px 0;
}

#footer .copyright {
	text-align:right;
}

#footer {
	background:#f9f9f9;
	color:#404040;
}

#footer .copyright {
  color: #999;
}

#footer a {
	color:#404040;
}

@media (max-width: 720px) {
	.docs-header {
		display:none;
	}

	.navbar-toggle {
		z-index:10000;
	}

	h1.title {
		color:#101010;
		font-size: 40px;
		line-height:1em;
	}

	h1.title a {
		color: #101010;
	}

	#search input {
		margin:0;
		background: #f1f1f1;
		border-color: #999;
		color:#999;
	}

	#header {

	}
}
